<nav>
  <app-lista-turmas
    (turmaSelecionada)="exibeTurma($event)"
  >
  </app-lista-turmas>
</nav>

<main [ngSwitch]="templateMain$ | async">

  <ng-container *ngSwitchCase="'carregando'">
    Carregando...
  </ng-container>

  <ng-container *ngSwitchCase="'turma'">
    <app-turma [turma]="(turmaDetalhes$ | async)!"></app-turma>
  </ng-container>

  <ng-container *ngSwitchCase="'selecione'">
    Selecione uma turma para exibir os detalhes.
  </ng-container>

  <ng-container *ngSwitchDefault>
    Um erro foi encontrado.<br />
    Caso sua navegação esteja prejudicada, por gentileza atualize a página.
  </ng-container>

</main>

<router-outlet></router-outlet>
